@font-face {
    font-family: 'Pretendard';
    src: url('../../assets/font/Pretendard-ExtraLight.woff2') format('font-woff2'),
    url('../../assets/font/Pretendard-ExtraLight.woff') format('font-woff');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../../assets/font/Pretendard-Light.woff2') format('font-woff2'),
    url('../../assets/font/Pretendard-Light.woff') format('font-woff');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../../assets/font/Pretendard-Regular.woff2') format('font-woff2')
    url('../../assets/font/Pretendard-Regular.woff') format('font-woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../../assets/font/Pretendard-Medium.woff2') format('font-woff2'),
    url('../../assets/font/Pretendard-Medium.woff') format('font-woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/font/Montserrat-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}