@import 'font.scss';
@import 'mixin.scss';
@import 'variables.scss';

// #top-button {
//     position: fixed;
//     width: 3rem;
//     height: 3rem;
//     bottom: -3rem;
//     right: 2rem;
//     background-color: $primery-3;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     z-index: 800;
//     @include transition;
//     cursor: pointer;

//     .icon {
//         color: #fff;
//         font-weight: bold;
//         font-size: 1.6rem;
//     }

//     &.top-active {
//         bottom: 2rem;
//     }

//     &:hover {
//         background-color: $primery-1;
//     }
// }

#main {
    width: 100%;
    height: 100dvh;
    @include flex(flex-end, center);

    .main-text {
        width: calc(50% - 4rem);
        height: 100%;
        max-width: $max-width/2;
        padding: 10rem 4rem 10rem 0;
        @include flex(space-between, flex-start);
        flex-direction: column;

        >img {
            width: 5rem;
            border: $dashed;
            border-radius: 1rem;
            padding: 0.8rem;
        }

        >div {
            width: 100%;

            .text-obj {
                margin-bottom: 2rem;
                display: flex;

                span {
                    position: relative;
                    animation: text 1.5s infinite;
                    font-size: 4.4rem;
                    font-weight: bold;

                    @for $i from 1 through 7 {
                        &:nth-child(#{$i}) {
                            animation-delay: 0.1s * $i;
                        }
                    }
                }

                img {
                    width: 5rem;
                    margin-left: 0.5rem;
                    object-fit: contain;
                    object-position: 0 30%;
                    animation: hand 1.5s infinite;
                }
            }

            strong {
                font-size: 1.4rem;
                line-height: 2rem;
                display: block;
            }

        }

        @keyframes text {
            0% {
                top: 0;
            }

            20% {
                top: -0.5rem;
            }

            40% {
                top: 0
            }

            60% {
                top: 0
            }

            80% {
                top: 0
            }

            100% {
                top: 0
            }
        }

        @keyframes hand {
            0% {
                transform: rotate(0deg);
            }

            50% {
                transform: rotate(-20deg);
            }
        }
    }

    .main-img {
        width: 50%;
        height: 100%;
        overflow: hidden;
        border-radius: 0 0 0 10rem;
        background-color: $primery-2;
        position: relative;

        .main-filter {
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
            z-index: 1;
        }

        .main-imgGrid {
            @include col-grid(repeat(3, 1fr));
            transform: rotate(35deg);
            height: 100%;
            position: absolute;
            left: -190px;
        }

        .main-imgBox {
            & .main-original {
                animation: rolling-start 1s ease-out both,
                    rolling1 25s linear 1s infinite;
            }

            & .main-clone {
                animation: rolling-start 1s ease-out both,
                    rolling2 25s linear 1s infinite;
            }

            & .original {
                animation: rolling-start 1s ease-out both,
                    rolling1 25s linear 2s infinite;
            }

            & .clone {
                animation: rolling-start 1s ease-out both,
                    rolling2 25s linear 2s infinite;
            }

            img {
                width: 100%;
            }
        }

        @keyframes rolling-start {
            0% {
                transform: translateY(20%);
            }

            100% {
                transform: translateY(0%);
            }
        }

        @keyframes rolling1 {
            0% {
                transform: translateY(0%);
            }

            50% {
                transform: translateY(-100%);
            }

            50.01% {
                transform: translateY(100%);
            }

            100% {
                transform: translateY(0%);
            }
        }

        @keyframes rolling2 {
            0% {
                transform: translateY(0%);
            }

            100% {
                transform: translateY(-200%);
            }
        }
    }
}


section,
.section-grid {
    width: 100%;
}


#about {
    .section-grid {
        padding: 0 4rem;
        @include flex(center, flex-start);
    }

    .about-img {
        top: 0;
        width: 50%;
        min-height: 100svh;
        max-width: $max-width/2;
        padding: 10rem 4rem 10rem 0;
        position: sticky;

        .about-imgBackground {
            position: absolute;
            width: calc(100% - 6rem);
            max-width: 100%;
            height: calc(100% - 22rem);
            border: $dashed;
            border-radius: 1rem;
            right: 6rem;
        }

        img {
            position: absolute;
            max-width: calc(100% - 6rem);
            height: calc(100% - 22rem);
            border-radius: 1rem;
            right: 4rem;
            transform: translateY(2rem);
            object-position: top;
        }
    }

    .about-text {
        width: 50%;
        max-width: $max-width/2;
        padding: 10rem 0;

        .text-card>p {
            line-height: 2rem;
            padding-bottom: 1.4rem;

            &:last-of-type {
                padding-bottom: 5rem;
            }
        }
    }

    .career-card {
        &:not(:last-of-type) {
            margin-bottom: 3rem;
        }

        .career-listTitle {
            @include flex(flex-start, flex-start);
            color: $primery-2;
        }

        ul {
            li {
                padding: 0.6rem 0;

                &:first-of-type {
                    padding-top: 1rem;
                }
            }

            h5 {
                padding: 0.2rem 0;
            }

            p {
                color: $text-subColor;
            }
        }
    }
}


#design {
    padding: 10rem 4rem;
    background-color: $back-color;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    @include flex;

    .section-grid {
        width: 100%;
        max-width: $max-width;
    }

    .design-head {
        @include flex(space-between, center);
        margin-bottom: 3rem;
    }

    .design-tab {
        @include flex;

        li {
            height: 4rem;
            padding: 0 1rem;
            text-transform: uppercase;
            @include flex;
            position: relative;
            cursor: pointer;
            overflow: hidden;
            @include transition;

            p {
                color: $text-subColor;
                @include transition;
            }

            &::after {
                width: 100%;
                height: 4px;
                background-color: $primery-1;
                content: '';
                position: absolute;
                left: -100%;
                bottom: 0;
                @include transition;
            }

            &.active {
                padding: 0 3rem;

                p {
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: inherit;
                }

                &::after {
                    left: 0;
                }
            }
        }
    }

    .design-list {
        ul.swiper-wrapper {
            li.swiper-slide {
                cursor: pointer;
                margin-bottom: 3rem;
                opacity: 5;

                &:not(.inactive):hover img {
                    scale: 1.1;
                }

                &.inactive {
                    filter: opacity(0.5);
                    cursor: inherit;
                }

                .design-thumbnail {
                    height: 16rem;
                    border-radius: 1rem;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center top;
                        @include transition;
                    }
                }

                h5 {
                    padding: 1.2rem 0 0.3rem 0;
                }
            }
        }

        .swiper-pagination {
            bottom: 0;

            .swiper-pagination-bullet-active {
                background-color: $primery-1;
            }
        }
    }
}


#project {
    padding: 10rem 4rem;
    position: relative;
    @include flex(center, center);

    .section-grid {
        max-width: $max-width;
    }

    .project-head {
        @include flex(space-between, flex-end);
        height: 3rem;
        margin-bottom: 3rem;

        .project-viewSwitch {
            .switch-label {
                position: relative;
                display: inline-block;
                width: 5.6rem;
                height: 3rem;

                .switch-slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: $primery-2;
                    border-radius: 3rem;
                    @include transition;

                    &::before,
                    &::after {
                        font-family: 'simple-line-icons';
                        border-radius: 50%;
                        height: 2.6rem;
                        width: 2.6rem;
                        position: absolute;
                        @include flex(center, center);
                    }

                    &::before {
                        content: "\e067";
                        left: 0.2rem;
                        bottom: 0.2rem;
                        font-size: 1.2rem;
                        background-color: white;
                        color: $primery-1;
                        @include transition(transform);
                    }

                    &::after {
                        content: "\e06a";
                        left: 2.8rem;
                        bottom: 0.2rem;
                        font-size: 1rem;
                        color: $back-color;
                    }
                }

                input[type="checkbox"] {
                    opacity: 0;
                    width: 0;
                    height: 0;

                    &:checked+.switch-slider {
                        background-color: $primery-3;

                        &::before {
                            content: "\e06a";
                            font-size: 1rem;
                            transform: translateX(2.6rem);
                        }

                        &::after {
                            content: "\e067";
                            font-size: 1.2rem;
                            transform: translateX(-2.6rem);
                        }
                    }
                }
            }
        }
    }

    .project-body {
        width: 100%;
        @include transition();

        img {
            max-height: 100%;
            max-width: 100%;
        }
    }

    &.full {
        overflow: hidden;

        .project-card {
            padding: 4rem;
            @include flex(space-between, center);

            &:not(:last-child) {
                border-bottom: $dashed;
            }

            .project-thumbnail {
                width: 50%;
                height: 100%;
                @include flex(center, center);
            }

            .project-content {
                width: 48%;
                height: 100%;

                h4 {
                    margin-top:0.2rem;
                }

                >*:not(button) {
                    padding-bottom: 2rem;
                }

                >div {
                    display: none;
                }

                dl {
                    dt {
                        font-weight: bold;
                        padding-bottom: 0.2rem;
                    }

                    & dd:not(:last-child) {
                        padding-bottom: 1rem;
                    }
                }

                p {
                    line-height: 1.8rem;
                }

                button {
                    @include arrowButton(#fff, $primery-1);
                }
            }
        }
    }

    &.grid {
        .project-list {
            @include col-grid(repeat(2, 1fr), 4rem);

            .project-card {
                cursor: pointer;

                &:hover .project-thumbnail img {
                    scale: 1.1;
                }
            }

            .project-thumbnail {
                width: 100%;
                height: 22rem;
                @include flex(center, center);
                border-radius: 2rem;
                overflow: hidden;
                margin-bottom: 1rem;
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
                pointer-events: none;

                img {
                    @include transition;
                }
            }

            @each $color,
            $sub in $project-color {
                $i: index(($project-color), ($color $sub)) * 1;

                &>:nth-child(#{$i}) .project-thumbnail {
                    background-color: $color;
                }
            }

            .project-content {
                pointer-events: none;

                h4 {
                    padding: 0.2rem 0;
                }

                >div {
                    display: block;

                    p {
                        padding-bottom: 1rem;
                    }

                    .keyword {
                        display: inline-flex;
                        margin-bottom: 0.2rem;
                        border: 2px solid transparent;
                        border-radius: 15px;
                        background-origin: border-box;
                        background-clip: content-box, border-box;

                        small {
                            font-weight: 600;
                            padding: 0.2rem 1rem;
                            display: inline-flex;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }

                >dl,
                >p,
                >button {
                    display: none;
                }
            }

            @each $color,
            $sub in $project-color {
                $i: index(($project-color), ($color $sub)) * 1;

                &>:nth-child(#{$i}) .keyword {
                    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, $color 0%, $sub 100%);

                    small {
                        background: linear-gradient(to bottom, $color 0%, $sub 100%);
                    }
                }
            }
        }

        .project-background {
            display: none;
        }
    }

    .project-background {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(205, 227, 216, 0.2);
        left: 0;
        bottom: 0;
        z-index: -10;
        pointer-events: none;
        transition: none;
        @include transition(opacity);
        transform: translateY(100%);

        &.scroll-on {
            position: fixed;
            @include transition();
        }
    }


}


.modal {
    position: fixed;
    padding: 4rem;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
    pointer-events: none;
    @include transition;
    @include flex;

    .modal-container {
        width: 100%;
        max-width: $max-width;
        transform: translateY(2rem);
        @include transition;
    }

    &.modal-hide {
        opacity: 0;

        .modal-container {
            transform: translateY(2rem);
            opacity: 0;
        }
    }

    &.modal-show {
        opacity: 1;
        pointer-events: auto;

        .modal-container {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .icon {
        font-weight: bold;
        font-size: 2rem;
        color: #fff;
    }

    &#inactive-modal {
        .modal-container {
            position: relative;
            max-width: 22rem;
            background-color: $back-color;
            border-radius: 50%;

            &::after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }

            .modal-content {
                position: absolute;
                width: 100%;
                height: 100%;
                @include flex;
                flex-direction: column;

                .modal-body {
                    max-width: 100%;
                    @include flex;

                    >div {
                        text-align: center;

                        strong {
                            font-weight: 400;
                            padding-bottom: 1rem;
                            color: $primery-1;
                            font-size: 1.6rem;
                            display: block;

                            span {
                                font-weight: 700;
                            }
                        }

                        p {
                            line-height: 1.6rem;
                        }
                    }
                }
            }

            .modal-close {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }

    &#design-modal {
        .loading {
            background-color: rgba(0, 0, 0, 0.7);
        }

        .modal-container {
            width: 100%;
            height: 100%;
            overflow-y: auto;

            img {
                width: 100%;
                display: block;
            }
        }

        .modal-close {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}

.not-scroll {
    overflow: hidden;
}


// 1200px 이하
@include desktop {

    #main .main-text{
        padding:10rem 4rem 8rem 0;
        >div {
            .text-obj {
                span {
                    font-size: 6vw;
                }
    
                img {
                    width: 6vw;
                }
            }
    
            strong {
                font-size: 1.3rem;
                line-height: 1.9rem;
            }
        }

    }

    #project.full .project-card {
        padding: 4rem 2rem;
    }

    #project.grid .project-list {
        gap: 4rem 2rem;

        .project-thumbnail {
            height: 18rem;
        }

        .project-content {
            // h3 {
            //     font-size: 1.6rem;
            // }
        }
    }
}


// 992px 이하
@include tablet {

    #about .section-grid,
    #design,
    #project {
        padding: 8rem 4rem;
    }

    #main {
        display: inherit;
        position: relative;

        .main-text {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            max-width: inherit;
            padding: 12rem 4rem 6rem;
            z-index: 10;
            background: rgba(255, 255, 255, 0.85);

            >div {
                .text-obj {
                    span {
                        font-size: 4.2rem;
                    }

                    img {
                        width: 4.2rem;
                    }
                }

                strong {
                    width: 80%;
                }
            }
        }

        .main-img {
            width: 100%;
            border-radius: 0;

            .main-imgGrid {
                left: -200px;
            }

            .main-imgBox {
                & .main-original {
                    animation: rolling1 25s linear -1s infinite;
                }

                & .main-clone {
                    animation: rolling2 25s linear -1s infinite;
                }

                & .original {
                    animation: rolling1 25s linear infinite;
                }

                & .clone {
                    animation: rolling2 25s linear infinite;
                }
            }
        }
    }

    #about {
        .section-grid {
            display: inherit;
        }

        .about-img {
            padding: 0;
            width: 100%;
            max-width: inherit;
            min-height: inherit;
            height: 55vh;
            position: relative;
            margin-bottom: 3rem;

            .about-imgBackground {
                height: calc(100% - 2rem);
                width: calc(55vh * 0.7);
                left: 0;
            }

            img {
                height: calc(100% - 2rem);
                width: calc(55vh * 0.7);
                left: 2rem;
                max-width: inherit;
            }

        }

        .about-text {
            width: 100%;
            max-width: inherit;
            padding: 0;
        }
    }

    #design .design-list ul.swiper-wrapper li.swiper-slide:not(.inactive):hover img {
        scale: inherit;
    }

    .project-viewSwitch {
        display: none;
    }

    #project.grid .project-list {
        .project-card:hover .project-thumbnail img {
            scale: inherit;
        }

        .project-thumbnail {
            height: 16rem;
        }
    }

    .modal#design-modal {
        padding: 4rem 2rem 2rem;

        .modal-content {
            max-width: inherit;
        }
    }
}


// 768px 이하
@include mobile {
    // #top-button {
    //     width: 2.4rem;
    //     height: 2.4rem;

    //     .icon {
    //         font-size: 1.2rem;
    //     }
    // }

    #about .section-grid,
    #design,
    #project {
        padding: 6rem 2rem;
    }

    #main {
        .main-text {
            padding: 12rem 2rem 6rem;

            >div {
                .text-obj {
                    span {
                        font-size: max(3.2rem, 9vw);
                    }

                    img {
                        width: max(3rem, 9vw);
                    }
                }

                strong {
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                }
            }
        }
    }

    #about {
        .about-img {
            height: 50vh;

            .about-imgBackground,
            img {
                width: calc(48vh * 0.77);
            }
        }

        .about-text {
            .text-card>p {
                line-height: 1.6rem;

                &:last-of-type {
                    padding-bottom: 4rem;
                }
            }
        }

        .career-card {
            ul li {
                padding: 0.4rem 0;

                &:first-of-type {
                    padding-top: 0.6rem;
                }
            }
        }
    }

    #design {
        .design-tab {
            display: none;

            li.active {
                padding: 0 1rem;
            }
        }
    }

    #project.grid .project-list {
        @include col-grid(inherit, 3rem 0);
    }

    .modal {
        padding: 2rem;

        &#inactive-modal .modal-container {
            max-width: 20rem;

            .modal-content .modal-body>div {
                strong {
                    font-size: 1.4rem;
                    padding-bottom: 0.5rem;
                }

                p {
                    line-height: 1.4rem;
                }
            }
        }
    }
}


// 576px 이하
@include mini {
    #top-button {
        right: 1rem;

        &.top-active {
            bottom: 1rem;
        }
    }

    #about .section-grid,
    #design,
    #project {
        padding: 6rem 1rem;
    }

    #main .main-text {
        padding: 10rem 1rem 6rem;

        >img {
            width: 4rem;
            padding: 0.6rem;
        }

        >div {
            .text-obj {
                span {
                    font-size: max(2.8rem, 9vw);
                }
            }

            strong {
                width: 100%;
                max-width: 26rem;
                font-size: max(1.1rem, 3.2vw);
                line-height: max(1.5rem, 4.2vw);
            }

            img {
                width: max(3rem, 9vw);
            }
        }

    }

    #about {
        .about-img {
            margin-bottom: 2rem;
            min-height: 25rem;
            height: 45vh;

            .about-imgBackground,
            img {
                height: calc(100% - 1rem);
                width: calc(100% - 1rem);
                max-width: 22rem;
            }

            img {
                transform: translateY(1rem);
                left: 1rem;
                object-position: top;
            }
        }

        .about-text {
            >p {
                padding-bottom: 1rem;

                &:last-of-type {
                    padding-bottom: 3rem;
                }
            }
        }

        .career-card {
            &:not(:last-of-type) {
                margin-bottom: 2.4rem;
            }
        }
    }

    #design {
        .design-head {
            margin-bottom: 2rem;
        }
    }

    #project .project-head {
        margin-bottom: 2rem;
    }

    .modal {
        padding: 1rem;

        &#design-modal {
            padding: 4rem 1rem 1rem;
        }
    }
}