@import 'font.scss';
@import 'mixin.scss';
@import 'variables.scss';

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: $en, $kr, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    background-color: #fff;
    color: $text-color;

    &.before-load,
    &.open-nav {
        overflow: hidden;
    }
}

ul,
li {
    list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: $text-color;
    display: inline-block;
}

select {
    appearance: none;

    &::-ms-expand {
        display: none;
    }
}

img {
    object-fit: cover;
}

h1,
h2 {
    text-transform: capitalize;
}

h1 {
    font-size: 3rem;
    line-height: 4rem;
}

h2 {
    font-size: 2rem;
    line-height: 3rem;
}

h3 {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

h4 {
    font-size: 1.6rem;
    line-height: 2rem;
}

h5 {
    font-size: 1.4rem;
}

h6 {    
    font-size: 1.2rem;
}

p.b-text {
    font-size: 1.1rem;
}

.en {
    font-family: $en, sans-serif;
}

img.point-rect {
    width: 0.5rem;
    height: 0.5rem;
}

.icon {
    cursor: pointer;
}

.point-title {
    @include flex(flex-start, flex-start);

    img {
        width: 0.7rem;
        height: 0.7rem;
    }
}


.before-load {
    .loading {
        opacity: 1;
    }
}

// 로딩
.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    background-color: #fff;
    @include transition;
    opacity: 0;
    @include flex;
    z-index: 950;
}

.loading-circle {
    width: 5rem;
    height: 5rem;
    animation: loadingSpin 3s infinite;

    circle {
        fill: transparent;

        stroke: $primery-1 {
            width: 4;
            dasharray: 157;
            dashoffset: 0;
        }

        animation: loadingAnimation 1s infinite;
    }
}

@keyframes loadingSpin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loadingAnimation {
    0% {
        stroke-dashoffset: 157;
    }

    75% {
        stroke-dashoffset: -117;
    }

    100% {
        stroke-dashoffset: -157;
    }
}


// 메뉴, 타이틀
nav,
header {
    width: 100%;
    height: 50px;
    padding: 0 4rem;
    position: fixed;
    top: -50px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    @include transition(top);
    z-index: 20;

    &::before {
        content: " ";
        position: absolute;
        inset: 0;
        backdrop-filter: blur(15px);
        z-index: -1;
    }
}

nav {
    top: 0px;
    z-index: 11;

    ul {
        width: 100%;
        max-width: $max-width;
        height: 100%;
        margin: 0 auto;
        @include flex(space-between, center);

        li {
            text-transform: uppercase;
            font-weight: 200;
            font-size: 0.8rem;
            cursor: pointer;
        }
    }
}

header {
    @include flex(space-between, center);

    >div {
        width: 100%;
        max-width: $max-width;
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;

        h5 {
            letter-spacing: -0.5px;
        }
    }
}


footer {
    .section-grid {
        padding: 8rem 4rem;
        border-radius: 0 10rem 0 0;
    }

    .contact-head {
        h1 {
            font-size: 4rem;
            line-height: 4.6rem;
            color: $primery-1;
        }

        img {
            width: 1rem;
            height: 1rem;
        }

        h2 {
            color: $primery-4;
            font-weight: 300;
            margin-bottom: 2rem;
        }
    }

    .contact-card {
        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }

        dt {
            color: $text-subColor;
            padding-bottom: 0.2rem;
        }
    }

    &.full {
        background-color: rgba(205, 227, 216, 0.2);

        .section-grid {
            background-color: #fff;
        }
    }

    &.grid {
        background-color: #fff;

        .section-grid {
            background-color: $primery-4;
        }

        .contact-head h2 {
            color: $back-color;
        }
    }
}


// 768px 이하
@include mobile {
    body {
        font-size: 0.9rem;
    }

    h1 {
        font-size: 2.2rem;
        line-height: 3.2rem;
    }

    h2 {
        font-size: 1.7rem;
        line-height: 2.7rem;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.9rem;
    }

    h4 {
        font-size: 1.3rem;
        line-height: 1.7rem;
    }

    h5 {
        font-size: 1.1rem;
    }

    h6 {
        font-size: 1rem;
    }

    p.b-text {
        font-size: 1rem;
    }

    .point-title img {
        width: 0.55rem;
        height: 0.55rem;
    }

    nav,
    header {
        padding: 0 2rem;
    }

    footer {
        .section-grid {
            padding: $padding768;
            border-radius: 0 8rem 0 0;
        }
        .contact-head {

            h1 {
                font-size: 3rem;
                line-height: 3.6rem;
            }
    
            h2 {
                margin-bottom: 1rem;
            }
        }
    } 

}


// 576px 이하
@include mini {
    h1 {
        font-size: 2.2rem;
        line-height: 3.2rem;
    }

    .loading-circle {
        width: 3rem;
        height: 3rem;
    }

    nav,
    header {
        padding: 0 1rem;
    }

    footer .section-grid {
        padding: $padding576;
    }

    footer.grid .contact-head {
        h1 {
            font-size: 2.6rem;
            line-height: 3rem;
        }

        img {
            width: 0.7rem;
            height: 0.7rem;
        }

        h2 {
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
    }
}