@import 'font.scss';
@import 'mixin.scss';
@import 'variables.scss';

@media (min-width: 769px) {
    h1 {
        font-size: max(2.4rem, 2.4vw);
        line-height: max(3.4rem, 3.4vw);
    }
}

header {
    height: 100px;
    top: 0;
    @include transition();
}

main {
    height: 100dvh;
    padding:10rem 4rem;
    @include flex;

    .main-grid {
        max-width: $max-width;
        @include flex(space-between);
    }

    .main-img {
        width: 54%;
        @include flex;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .main-text {
        width: 44%;

        >* {
            padding-bottom: 2rem;

            &:last-child {
                padding-bottom: 0;
            }
        }

        h6 {
            padding: 1rem 0 0.5rem;
        }

        >div {
            .keyword {
                display: inline-block;
                padding: 0.1rem 1.4rem;
                border-radius: 2rem;
                font-size: 0.9rem;
                margin-bottom:0.2rem;
            }
        }

        >p {
            line-height: 1.8rem;
        }
    }

    @each $color,
    $sub in $project-color {
        $i: index(($project-color), ($color $sub)) * 1;

        &.main-#{$i} {
            background-color: $color;

            .keyword {
                border: 2px solid $sub;
                color: $sub;
            }
        }
    }

}

.content-detail {
    padding:10rem 4rem;
    @include flex;

    .section-grid {
        max-width: $max-width;
        @include flex(space-between, flex-start);

        >div {
            width: 30%;

            img {
                width: 100%;
                box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

                &:not(:last-child) {
                    margin-bottom: 3rem;
                }
            }

            video {
                width: 100%;

                &:not(:last-child) {
                    margin-bottom: 3rem;
                }
            }
        }
    }
}

.page-navigation {
    padding: 4rem;
    @include flex;
    background-color: $primery-2;

    .section-grid {
        width: 100%;
        max-width: $max-width;
        @include flex(space-between);

        >div {
            span {
                color: #fff;
                font-size: 2rem;
            }
        }
    }
}

#pmsWeb .content-detail .section-grid>div,
#webCCTV .content-detail .section-grid>div {
    width: 48%;
}

#pmsSolution .content-detail .section-grid>:first-child,
#webRenewal .content-detail .section-grid>:first-child {
    width: 66%;
}


// 1200px 이하
@include desktop {
    // h1 {
    //     font-size: max(2rem, 3.2vw);
    //     line-height: max(3rem, 4.2vw);
    // }

    main {
        .main-text {
            h1 {
                padding-bottom: 1rem;
            }
        }
    }
}


// 992px 이하
@include tablet {
    header {
        height: 75px;
    }

    main {
        padding:6rem 4rem 8rem;
        display: block;
        height: auto !important;

        .main-grid {
            display: block;
        }

        .main-img,
        .main-text {
            width: 100%;
        }

        .main-img {
            height:50vh;
            margin-bottom:2rem;
        }
    }

    .content-detail {
        padding: 8rem 4rem;
    }

    .page-navigation {
        padding:3rem 4rem;
    }

}


// 768px 이하
@include mobile {
    main {
        padding: 4rem 2rem 6rem;
        .main-text {
            > * {
                padding-bottom:1.4rem;
            }
            h1 {
                padding-bottom:0.4rem;
            }
            > p {
                line-height: 1.6rem;
            }
        }
    }

    .content-detail {
        padding: 6rem 2rem;
    }

    .page-navigation {
        padding:2rem;
        .section-grid >div span{
            font-size: 1.8rem;
        }
    }
}


// 576px 이하
@include mini {
    h1 {
        font-size: max(1.6rem, 5vw);
        line-height: max(2.6rem, 7vw);
    }

    header {
        height: 50px;
    }

    main {
        padding:4rem 1rem 6rem;
        .main-img {
            height:44vh;
            margin-bottom:1rem;
        }
    }

    .content-detail {
        padding: 6rem 1rem;
    }

    .page-navigation {
        padding:1.8rem 1rem;
        .section-grid >div span{
            font-size: 1.6rem;
        }
    }
}