@import 'font.scss';
@import 'mixin.scss';
@import 'variables.scss';

h2 {
    font-size: 2.5rem;
}

header {
    height: 100px;
    top: 0;
    @include transition();
}

main {
    height: 100svh;
    padding: 10rem 4rem;
    @include flex;

    .main-grid {
        max-width: $max-width;
        @include flex(space-between);
    }

    .main-img {
        width: 54%;
        @include flex;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .main-text {
        width: 44%;

        >* {
            padding-bottom: 2rem;

            &:last-child {
                padding-bottom: 0;
            }
        }

        >h2 {
            padding-top: 0.5rem;
        }

        >div {
            h6 {
                padding-bottom: 0.5rem;
            }

            p {
                padding-bottom: 1rem;
            }

            .keyword {
                display: inline-block;
                padding: 0.1rem 1.4rem;
                border-radius: 2rem;
                font-size: 0.9rem;
                margin-bottom: 0.2rem;
            }
        }

        >p {
            line-height: 2rem;
        }
    }

    @each $color,
    $sub in $project-color {
        $i: index(($project-color), ($color $sub)) * 1;

        &.main-#{$i} {
            background-color: $color;

            .keyword {
                border: 2px solid $sub;
                color: $sub;
            }
        }
    }

}



.content-detail {
    padding: 10rem 4rem;
    @include flex();

    .photo-gallery {
        max-width: $max-width;
        @include col-grid (repeat(3, 1fr), 4rem);

        // >div {
        // display: flex;
        // }
    }
}

// #pmsWeb .content-detail .section-grid>div,
// #webCCTV .content-detail .section-grid>div {
//     width: 48%;
// }

// #pmsSolution .content-detail .section-grid>:first-child,
// #webRenewal .content-detail .section-grid>:first-child {
//     width: 66%;
// }



.page-navigation {
    padding: 4rem;
    @include flex;
    background-color: $primery-2;

    .section-grid {
        width: 100%;
        max-width: $max-width;
        @include flex(space-between);

        >div {
            @include flex;
            cursor: pointer;
            @include transition(transform);

            &.prev-page:hover {
                transform: translateX(-0.4rem);
            }

            &.next-page:hover {
                transform: translateX(0.4rem);
            }

            >* {
                pointer-events: none;
            }

            p {
                color: #fff;
                padding: 0 0.4rem;
            }

            span {
                color: #fff;
                font-size: 2rem;
            }

            &:not([data-url]) {
                visibility: hidden;
            }
        }

        >span {
            width: 2.4rem;
            height: 2.4rem;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $back-color;
            font-size: 1.3rem;
            &:hover {
                
            }
        }
    }
}


// #image-editor {
//     .modal-close {
//         right: 1rem;
//         top: 1rem;
//         z-index: 10;
//     }

//     .modal-container {
//         max-width: inherit;
//         height: 100%;
//     }
// }

// .swiper {
//     width: 100%;
//     height: 100%;

//     .swiper-wrapper {
//         .swiper-slide {
//             width: 100%;
//             @include flex();

//             .img-box {
//                 @include flex();
//                 height: 80%;
//                 width: 50%;

//                 &.portrait {
//                     height: 50%;
//                     width: 70%;
//                 }

//                 img {
//                     width: 100%;
//                     object-fit: contain;
//                     pointer-events: none;

//                     &.portrait {
//                         height: 100%;
//                         width: auto;
//                         max-width: 100%;
//                     }
//                 }
//             }

//             &.zoom {
//                 overflow-y: auto;
//                 align-items: flex-start;

//                 .img-box {
//                     width: 100%;
//                     height: max-content;

//                     img,
//                     img.portrait {
//                         width: 100%;
//                     }
//                 }

//             }

//             &.overflowY {
//                 align-items: center;
//             }

//             &.swiper-slide-active {
//                 .img-box:hover {
//                     cursor: zoom-in;
//                 }

//                 &.zoom {
//                     .img-box:hover {
//                         cursor: zoom-out;
//                     }
//                 }
//             }
//         }
//     }

//     .swiper-button-next,
//     .swiper-button-prev {
//         color: $back-color;
//     }

//     .swiper-pagination-fraction {
//         color: $back-subColor;
//     }
// }



// 1200px 이하
@include desktop {
    h2 {
        font-size: max(2rem, 3.2vw);
    }
}


// 992px 이하
@include tablet {
    header {
        height: 75px;
    }

    main {
        padding: 6rem 4rem 8rem;
        display: block;
        height: auto !important;

        .main-grid {
            display: block;
        }

        .main-img,
        .main-text {
            width: 100%;
        }

        .main-img {
            height: 50vh;
            margin-bottom: 2rem;
        }
    }

    .content-detail {
        padding: 8rem 4rem;
    }

    .page-navigation {
        padding: 3rem 4rem;
    }

}


// 768px 이하
@include mobile {
    main {
        padding: 4rem 2rem 6rem;

        .main-text {
            // > * {
            //     padding-bottom:1.5rem;
            // }
            // h2 {
            //     padding-top:0.2rem;
            // }
            // >div {

            // }
            >p {
                line-height: 1.8rem;
            }
        }
    }

    .content-detail {
        padding: 6rem 2rem;

        .section-grid>div img:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    .page-navigation {
        padding: 2rem;

        .section-grid>div span {
            font-size: 1.8rem;
        }
    }
}


// 576px 이하
@include mini {
    h2 {
        font-size: 1.5rem;
    }

    header {
        height: 50px;
    }

    main {
        padding: 4rem 1rem 6rem;

        .main-img {
            height: 44vh;
            margin-bottom: 1rem;
        }
    }

    .content-detail {
        padding: 6rem 1rem;

        .section-grid>div img:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    .page-navigation {
        padding: 2rem 1rem;

        .section-grid>div span {
            font-size: 1.6rem;
        }
    }
}