.show-1200, .show-992, .show-768, .show-576 {
  display: none;
}

#main {
  width: 100%;
  height: 100svh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  overflow: hidden;
}

.main-text {
  width: calc(50% - 4rem);
  height: 100%;
  max-width: 640px;
  padding: calc(10rem + 50px) 4rem 10rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main-text .text-obj {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-text .text-obj span {
  position: relative;
  -webkit-animation: text 1.5s infinite;
          animation: text 1.5s infinite;
  font-size: 4.4rem;
  font-weight: 600;
}
.main-text .text-obj span:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.main-text .text-obj span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.main-text .text-obj span:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.main-text .text-obj span:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.main-text .text-obj span:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.main-text .text-obj span:nth-child(6) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.main-text .text-obj span:nth-child(7) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}
.main-text .text-obj img {
  width: 5rem;
  margin-left: 0.5rem;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 0 30%;
     object-position: 0 30%;
  -webkit-animation: hand 1.5s infinite;
          animation: hand 1.5s infinite;
}
.main-text .text-greetings {
  font-size: min(3.3rem, 3.5vw);
  line-height: min(4.3rem, 4.5vw);
  margin-bottom: 4rem;
}
.main-text .text-introduction {
  font-size: min(1.3rem, 1.5vw);
  line-height: min(2.3rem, 2.5vw);
}

@-webkit-keyframes text {
  0% {
    top: 0;
  }
  20% {
    top: -0.5rem;
  }
  40% {
    top: 0;
  }
  60% {
    top: 0;
  }
  80% {
    top: 0;
  }
  100% {
    top: 0;
  }
}

@keyframes text {
  0% {
    top: 0;
  }
  20% {
    top: -0.5rem;
  }
  40% {
    top: 0;
  }
  60% {
    top: 0;
  }
  80% {
    top: 0;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes hand {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}
@keyframes hand {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
}
.main-img {
  width: 50%;
  height: 100%;
  overflow: hidden;
  border-radius: 0 0 0 10rem;
  background-color: #94baa8;
  position: relative;
}
.main-img .main-imgGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: inherit;
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  height: 125%;
  position: absolute;
  top: -15%;
  left: -180px;
}
.main-img .main-imgGrid .main-imgBox .original {
  -webkit-animation: rolling1 15s linear infinite;
          animation: rolling1 15s linear infinite;
}
.main-img .main-imgGrid .main-imgBox .clone {
  -webkit-animation: rolling2 15s linear infinite;
          animation: rolling2 15s linear infinite;
}
.main-img .main-imgGrid .main-imgBox .ios-type {
  -webkit-transform: translate3d(0, -12%, 0);
          transform: translate3d(0, -12%, 0);
}
.main-img .main-imgGrid .main-imgBox img {
  width: 100%;
}
.main-img .main-imgGrid > :nth-child(2) .original {
  -webkit-animation: rolling1 15s linear -4s infinite;
          animation: rolling1 15s linear -4s infinite;
}
.main-img .main-imgGrid > :nth-child(2) .clone {
  -webkit-animation: rolling2 15s linear -4s infinite;
          animation: rolling2 15s linear -4s infinite;
}
.main-img .main-imgGrid > :nth-child(2) .ios-type {
  -webkit-transform: translate3d(0, -30%, 0);
          transform: translate3d(0, -30%, 0);
}

@-webkit-keyframes rolling1 {
  0% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  50.01% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}

@keyframes rolling1 {
  0% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }
  50.01% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
}
@-webkit-keyframes rolling2 {
  0% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
}
@keyframes rolling2 {
  0% {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -200%, 0);
            transform: translate3d(0, -200%, 0);
  }
}
section,
.section-grid {
  width: 100%;
}

#about .section-grid {
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-img {
  top: 0;
  width: 50%;
  min-height: 100svh;
  max-width: 640px;
  padding: 10rem 4rem 10rem 0;
  position: sticky;
}
.about-img .about-imgBackground {
  position: absolute;
  width: calc(100% - 6rem);
  max-width: 100%;
  height: calc(100% - 22rem);
  max-height: 600px;
  border: 1px dashed #747474;
  border-radius: 1rem;
  right: 6rem;
}
.about-img img {
  position: absolute;
  max-width: calc(100% - 6rem);
  height: calc(100% - 22rem);
  max-height: 600px;
  border-radius: 1rem;
  right: 4rem;
  -webkit-transform: translateY(2rem);
      -ms-transform: translateY(2rem);
          transform: translateY(2rem);
  -o-object-position: top;
     object-position: top;
}

.about-text {
  width: 50%;
  max-width: 640px;
  padding: 10rem 0;
}
.about-text .text-list > p {
  line-height: 2rem;
  padding-bottom: 1.5rem;
}
.about-text .text-list > p:last-of-type {
  padding-bottom: 5rem;
}
.about-text button {
  margin-bottom: 5rem;
}
@media (min-width: 993px) {
  .about-text button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    width: 12rem;
    height: auto;
  }
  .about-text button .circle {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #4d8d6e;
    border-radius: 1.625rem;
    pointer-events: none;
  }
  .about-text button .circle .icon {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
  }
  .about-text button .circle .icon.arrow {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  .about-text button .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.3rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .about-text button .button-text {
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 0 0 1.85rem;
    color: #4d8d6e;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
    pointer-events: none;
  }
  .about-text button:hover .circle {
    width: 100%;
  }
  .about-text button:hover .circle .icon.arrow {
    background: #fff;
    -webkit-transform: translate(1rem, 0);
        -ms-transform: translate(1rem, 0);
            transform: translate(1rem, 0);
  }
  .about-text button:hover .button-text {
    color: #fff;
  }
}

.career-list:not(:last-of-type) {
  margin-bottom: 3rem;
}
.career-list .point-title {
  color: #4d8d6e;
}
.career-list .point-title h2 {
  font-size: 1.8rem;
}
.career-list ul li {
  padding-top: 1rem;
}
.career-list ul li strong {
  display: block;
  font-size: 1.2rem;
  padding: 0.3rem 0;
}
.career-list ul li p {
  color: #747474;
}

#design {
  padding: 10rem 4rem;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#design .section-grid {
  width: 100%;
  max-width: 1280px;
}

.design-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.design-list .swiper-slide {
  cursor: pointer;
  opacity: 5;
}
.design-list .swiper-slide:not(.inactive):hover img {
  scale: 1.1;
}
.design-list .swiper-slide.inactive {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  cursor: initial;
}
.design-list .swiper-slide .design-thumbnail {
  height: 16rem;
  border-radius: 1rem;
  overflow: hidden;
}
.design-list .swiper-slide .design-thumbnail img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.design-list .swiper-slide h4 {
  font-size: 1.3rem;
  padding: 1.5rem 0 0.4rem 0;
}
.design-list .swiper-button-next, .design-list .swiper-button-prev {
  color: #4d8d6e;
}

#project {
  padding: 10rem 4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#project .section-grid {
  max-width: 1280px;
}
#project .project-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 3rem;
  margin-bottom: 3rem;
}
#project .project-body {
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#project .project-body img {
  max-height: 100%;
  max-width: 100%;
}
#project .project-item {
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#project .project-item:not(:last-child) {
  border-bottom: 1px dashed #747474;
}
#project .project-thumbnail {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#project .project-content {
  width: 50%;
  height: 100%;
}
#project .project-content h4 {
  margin-top: 0.2rem;
  font-size: 1.8rem;
}
#project .project-content > *:not(button) {
  padding-bottom: 2rem;
}
#project .project-content > div {
  display: none;
}
#project .project-content dl dt {
  font-weight: 600;
  padding-bottom: 0.4rem;
}
#project .project-content dl dd:not(:last-child) {
  padding-bottom: 1rem;
}
#project .project-content p {
  line-height: 2rem;
}
#project .project-content button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  width: 12rem;
  height: auto;
}
#project .project-content button .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #4d8d6e;
  border-radius: 1.625rem;
  pointer-events: none;
}
#project .project-content button .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
#project .project-content button .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
#project .project-content button .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.3rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
#project .project-content button .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 0 0 1.85rem;
  color: #4d8d6e;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
}
#project .project-content button:hover .circle {
  width: 100%;
}
#project .project-content button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
      -ms-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
#project .project-content button:hover .button-text {
  color: #fff;
}
#project .project-background {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(205, 227, 216, 0.2);
  left: 0;
  bottom: 0;
  z-index: -10;
  pointer-events: none;
  -webkit-transition: none;
  transition: none;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
}
#project .project-background.scroll-on {
  position: fixed;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#inactive-modal .modal-container {
  position: relative;
  max-width: 22rem;
  background-color: #f3f3f3;
  border-radius: 50%;
}
#inactive-modal .modal-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
#inactive-modal .modal-container .modal-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#inactive-modal .modal-container .modal-content span {
  padding-bottom: 1rem;
  color: #4d8d6e;
  font-size: 1.6rem;
  display: block;
}
#inactive-modal .modal-container .modal-content p {
  line-height: 1.6rem;
  text-align: center;
}

#design-modal .loading {
  background-color: rgba(0, 0, 0, 0.7);
}
#design-modal .modal-container {
  width: 100%;
  max-width: 1280px;
  height: 100%;
  overflow-y: auto;
  padding-right: 8px;
}
#design-modal .modal-container img {
  width: 100%;
  display: block;
}

@media (max-width: 1200px) {
  .show-1200 {
    display: block;
  }
  .hide-1200 {
    display: none;
  }
  .main-text .text-obj span {
    font-size: 3.8rem;
  }
  .main-text .text-obj img {
    width: 6vw;
  }
  .main-text .text-greetings {
    font-size: min(3.3rem, 3.4vw);
    margin-bottom: 2rem;
  }
  .main-text .text-introduction {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  #project .project-item {
    padding: 5rem 2rem 5rem 0;
  }
}
@media (max-width: 992px) {
  .show-992 {
    display: block;
  }
  #about .section-grid,
  #design,
  #project {
    padding: 8rem 4rem;
  }
  #main {
    display: inherit;
    position: relative;
  }
  .main-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: calc(8rem + 50px) 4rem 8rem 4rem;
    max-width: initial;
    z-index: 10;
    background: rgba(255, 255, 255, 0.85);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-text .text-obj img {
    width: 4rem;
  }
  .main-text .text-greetings {
    font-size: max(2rem, 4vw);
    line-height: max(3rem, 5vw);
    text-align: center;
  }
  .main-text .text-introduction {
    text-align: center;
    max-width: 31rem;
  }
  .main-img {
    width: 100%;
    border-radius: 0;
  }
  .main-img .main-imgGrid .main-imgBox .original {
    -webkit-animation: rolling1 15s linear infinite;
            animation: rolling1 15s linear infinite;
  }
  .main-img .main-imgGrid .main-imgBox .clone {
    -webkit-animation: rolling2 15s linear infinite;
            animation: rolling2 15s linear infinite;
  }
  .main-img .main-imgGrid > :nth-child(2) .original {
    -webkit-animation: rolling1 15s linear -4s infinite;
            animation: rolling1 15s linear -4s infinite;
  }
  .main-img .main-imgGrid > :nth-child(2) .clone {
    -webkit-animation: rolling2 15s linear -4s infinite;
            animation: rolling2 15s linear -4s infinite;
  }
  #about .section-grid {
    display: inherit;
  }
  .about-img {
    padding: 0;
    width: 100%;
    max-width: initial;
    min-height: initial;
    height: 56vh;
    position: relative;
    margin-bottom: 3rem;
  }
  .about-img .about-imgBackground {
    height: calc(100% - 2rem);
    width: 39.2vh;
    left: 0;
  }
  .about-img img {
    height: calc(100% - 2rem);
    width: 39.2vh;
    left: 2rem;
    max-width: initial;
  }
  .about-text {
    width: 100%;
    max-width: initial;
    padding: 0;
  }
  .about-text button {
    padding: 0.8rem 5rem;
    border-radius: 1.6rem;
    border: 1px solid #4d8d6e;
    background-color: transparent;
    color: #4d8d6e;
  }
  .about-text button > :first-child {
    display: none;
  }
  .design-list .swiper-wrapper .swiper-slide:not(.inactive):hover img {
    scale: initial;
  }
  #project .project-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem 2rem;
  }
  #project .project-list > :nth-child(1) .project-thumbnail {
    background-color: #f3f3f3;
  }
  #project .project-list > :nth-child(2) .project-thumbnail {
    background-color: #b4dcfd;
  }
  #project .project-list > :nth-child(3) .project-thumbnail {
    background-color: #d9e6ba;
  }
  #project .project-list > :nth-child(4) .project-thumbnail {
    background-color: #fccfcf;
  }
  #project .project-list > :nth-child(5) .project-thumbnail {
    background-color: #eef1f5;
  }
  #project .project-list > :nth-child(6) .project-thumbnail {
    background-color: #cde3d8;
  }
  #project .project-list > :nth-child(7) .project-thumbnail {
    background-color: #cdddee;
  }
  #project .project-list .project-content {
    pointer-events: none;
    width: 100%;
    height: initial;
  }
  #project .project-list .project-content > * {
    padding-bottom: 0;
  }
  #project .project-list .project-content h4 {
    font-size: 1.5rem;
    padding: 0.3rem 0;
    margin-top: 0;
  }
  #project .project-list .project-content > div {
    display: block;
  }
  #project .project-list .project-content > div p {
    padding-bottom: 1rem;
    line-height: initial;
  }
  #project .project-list .project-content > div .keyword {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 0.2rem;
    border: 2px solid transparent;
    border-radius: 15px;
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  #project .project-list .project-content > div .keyword small {
    font-weight: 600;
    padding: 0.2rem 1rem;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #project .project-list .project-content > dl,
  #project .project-list .project-content > p,
  #project .project-list .project-content > button {
    display: none;
  }
  #project .project-list > :nth-child(1) .keyword {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#bebebe));
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #f3f3f3 0%, #bebebe 100%);
  }
  #project .project-list > :nth-child(1) .keyword small {
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#bebebe));
    background: linear-gradient(to bottom, #f3f3f3 0%, #bebebe 100%);
  }
  #project .project-list > :nth-child(2) .keyword {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#b4dcfd), to(#9599E2));
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #b4dcfd 0%, #9599E2 100%);
  }
  #project .project-list > :nth-child(2) .keyword small {
    background: -webkit-gradient(linear, left top, left bottom, from(#b4dcfd), to(#9599E2));
    background: linear-gradient(to bottom, #b4dcfd 0%, #9599E2 100%);
  }
  #project .project-list > :nth-child(3) .keyword {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#d9e6ba), to(#72afd3));
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #d9e6ba 0%, #72afd3 100%);
  }
  #project .project-list > :nth-child(3) .keyword small {
    background: -webkit-gradient(linear, left top, left bottom, from(#d9e6ba), to(#72afd3));
    background: linear-gradient(to bottom, #d9e6ba 0%, #72afd3 100%);
  }
  #project .project-list > :nth-child(4) .keyword {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#fccfcf), to(#fa709a));
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #fccfcf 0%, #fa709a 100%);
  }
  #project .project-list > :nth-child(4) .keyword small {
    background: -webkit-gradient(linear, left top, left bottom, from(#fccfcf), to(#fa709a));
    background: linear-gradient(to bottom, #fccfcf 0%, #fa709a 100%);
  }
  #project .project-list > :nth-child(5) .keyword {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#eef1f5), to(#c3cfe2));
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #eef1f5 0%, #c3cfe2 100%);
  }
  #project .project-list > :nth-child(5) .keyword small {
    background: -webkit-gradient(linear, left top, left bottom, from(#eef1f5), to(#c3cfe2));
    background: linear-gradient(to bottom, #eef1f5 0%, #c3cfe2 100%);
  }
  #project .project-list > :nth-child(6) .keyword {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#cde3d8), to(#94baa8));
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #cde3d8 0%, #94baa8 100%);
  }
  #project .project-list > :nth-child(6) .keyword small {
    background: -webkit-gradient(linear, left top, left bottom, from(#cde3d8), to(#94baa8));
    background: linear-gradient(to bottom, #cde3d8 0%, #94baa8 100%);
  }
  #project .project-list > :nth-child(7) .keyword {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, left bottom, from(#cdddee), to(#9890e3));
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom, #cdddee 0%, #9890e3 100%);
  }
  #project .project-list > :nth-child(7) .keyword small {
    background: -webkit-gradient(linear, left top, left bottom, from(#cdddee), to(#9890e3));
    background: linear-gradient(to bottom, #cdddee 0%, #9890e3 100%);
  }
  #project .project-item {
    padding: 0;
    display: block;
    border-bottom: 0;
    cursor: pointer;
  }
  #project .project-item:not(:last-child) {
    border-bottom: 0;
  }
  #project .project-item:hover .project-thumbnail img {
    scale: 1.1;
  }
  #project .project-thumbnail {
    width: 100%;
    height: 18rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 2rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    pointer-events: none;
  }
  #project .project-thumbnail img {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  #project .project-background {
    display: none;
  }
  #design-modal {
    padding: 4rem;
  }
  #design-modal .modal-content {
    max-width: initial;
  }
}
@media (max-width: 768px) {
  .show-768 {
    display: block;
  }
  #about .section-grid,
  #design,
  #project {
    padding: 6rem 2rem;
  }
  .main-text {
    padding: calc(6rem + 50px) 2rem 6rem 2rem;
  }
  .main-text .text-obj span {
    font-size: 3.2rem;
  }
  .main-text .text-obj img {
    width: 3.4rem;
  }
  .main-text .text-greetings {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
  .about-img {
    height: 50vh;
  }
  .about-text .text-list > p {
    line-height: 1.8rem;
  }
  .about-text button {
    margin-bottom: 4rem;
  }
  .career-list .point-title h2 {
    font-size: 1.6rem;
  }
  .career-list ul li {
    padding: 0.4rem 0;
  }
  .career-list ul li:first-of-type {
    padding-top: 0.6rem;
  }
  .career-list ul li strong {
    font-size: 1.1rem;
    padding: 0.2rem 0;
  }
  .design-list .swiper-slide h4 {
    font-size: 1.2rem;
    padding: 1.2rem 0 0.2rem 0;
  }
  #project .project-list {
    display: grid;
    grid-template-columns: initial;
    gap: 3rem 0;
  }
  #project .project-list .project-content h4 {
    font-size: 1.4rem;
    padding: 0.2rem 0;
  }
  #inactive-modal .modal-container {
    max-width: 19rem;
  }
  #inactive-modal .modal-container .modal-content span {
    font-size: 1.4rem;
    padding-bottom: 0.5rem;
  }
  #inactive-modal .modal-container .modal-content p {
    line-height: 1.4rem;
  }
}
@media (max-width: 576px) {
  .show-576 {
    display: block;
  }
  #about .section-grid,
  #design,
  #project {
    padding: 6rem 1rem;
  }
  .main-text {
    padding: calc(6rem + 50px) 1rem 6rem 1rem;
  }
  .main-text .text-obj {
    margin-bottom: 1.5rem;
  }
  .main-text .text-obj span {
    font-size: 2.8rem;
  }
  .main-text .text-obj img {
    width: 3rem;
  }
  .main-text .text-greetings {
    max-width: 20rem;
  }
  .main-text .text-introduction {
    max-width: 28rem;
    font-size: 1.1rem;
    line-height: 1.8rem;
  }
  .about-img {
    margin-bottom: 2rem;
    min-height: 25rem;
    height: 44vh;
  }
  .about-img .about-imgBackground {
    display: none;
  }
  .about-img img {
    -o-object-position: top;
       object-position: top;
    height: 100%;
    width: 100%;
    max-width: 20rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .about-text > p {
    padding-bottom: 1rem;
  }
  .career-list:not(:last-of-type) {
    margin-bottom: 2.4rem;
  }
  .career-list .point-title h2 {
    font-size: 1.5rem;
  }
  .design-head {
    margin-bottom: 2rem;
  }
  #project .project-list .project-content h4 {
    font-size: 1.3rem;
  }
  #project .project-thumbnail {
    height: 16rem;
  }
  #design-modal {
    padding: 4rem 1rem 1rem;
  }
}