@font-face {
  font-family: "Pretendard";
  src: url("../../assets/font/Pretendard-Regular.woff2") format("font-woff2"), url("../../assets/font/Pretendard-Regular.woff") format("font-woff");
  font-weight: 300;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../assets/font/Montserrat-Regular.ttf") format("truetype");
  font-weight: 300;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", "Pretendard", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-weight: 300;
  font-size: 1rem;
  background-color: #fff;
  color: #393939;
}
body.before-load, body.open-nav {
  overflow: hidden;
}

.before-load .loading {
  opacity: 1;
  z-index: 999;
}

ul,
li {
  list-style: none;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #393939;
  display: inline-block;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
select::-ms-expand {
  display: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2 {
  text-transform: capitalize;
}

h3,
h4,
h5 {
  font-weight: 600;
}

p.b-text {
  font-size: 1.1rem;
}

i,
.icon {
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

strong {
  font-weight: 600;
}

.point-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.point-title h3 {
  font-size: 2.6rem;
}
.point-title div {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #4d8d6e;
}

.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  z-index: -999;
}

.loading-circle {
  width: 5rem;
  height: 5rem;
  -webkit-animation: loadingSpin 3s infinite;
          animation: loadingSpin 3s infinite;
}
.loading-circle circle {
  fill: transparent;
  stroke: #4d8d6e;
  stroke-width: 4;
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  -webkit-animation: loadingAnimation 1s infinite;
          animation: loadingAnimation 1s infinite;
}

@-webkit-keyframes loadingSpin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loadingSpin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes loadingAnimation {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -117;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
@keyframes loadingAnimation {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -117;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
header {
  width: 100%;
  height: 80px;
  padding: 0 4rem;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 700;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header::before {
  content: " ";
  position: absolute;
  inset: 0;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: -1;
}
header .header-container {
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-left-wrap nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-left-wrap nav .page-anchor-btn {
  line-height: 40px;
  font-size: 1.1rem;
  font-weight: bold;
}
.header-left-wrap nav .page-anchor-btn:not(:first-child) {
  margin-left: 3rem;
}
.header-left-wrap nav .page-anchor-btn:hover {
  color: #4d8d6e;
}

.open-nav-btn,
.open-nav-wrap {
  display: none;
}

.header-logo {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header-logo strong {
  font-size: 1.4rem;
}

footer {
  background-color: rgba(205, 227, 216, 0.2);
}
footer .section-grid {
  padding: 8rem 4rem;
  border-radius: 0 10rem 0 0;
  background-color: #fff;
}
footer .contact-head {
  margin-bottom: 2rem;
}
footer .contact-head .point-title h1 {
  font-size: 3.2rem;
  color: #4d8d6e;
}
@media (min-width: 769px) {
  footer .contact-head .point-title div {
    width: 0.7rem;
    height: 0.7rem;
  }
}
footer .contact-head strong {
  font-size: 1.8rem;
  font-weight: 300;
  color: #94baa8;
}
footer .contact-list dt {
  color: #747474;
  padding-bottom: 0.4rem;
}
footer .contact-list dd:not(:last-of-type) {
  margin-bottom: 1rem;
}

.modal {
  position: fixed;
  padding: 4rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 800;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal .modal-container {
  width: 100%;
  -webkit-transform: translateY(2rem);
      -ms-transform: translateY(2rem);
          transform: translateY(2rem);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal .modal-container::-webkit-scrollbar {
  width: 8px;
}
.modal .modal-container::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 1rem;
}
.modal .modal-container::-webkit-scrollbar-thumb:hover {
  background-color: #bebebe;
}
.modal.modal-hide {
  opacity: 0;
}
.modal.modal-hide .modal-container {
  -webkit-transform: translateY(2rem);
      -ms-transform: translateY(2rem);
          transform: translateY(2rem);
  opacity: 0;
}
.modal.modal-show {
  opacity: 1;
  pointer-events: auto;
}
.modal.modal-show .modal-container {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.modal .icon {
  font-size: 2rem;
  color: #fff;
}
.modal .modal-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.not-scroll {
  overflow: hidden;
}

@media (max-width: 992px) {
  header {
    padding: 0 4rem;
  }
  header.active {
    background-color: #fff;
  }
  header.active .open-nav-btn span {
    background-color: transparent;
  }
  header.active .open-nav-btn span::before {
    background: #4d8d6e;
    -webkit-transform: rotate(-225deg);
        -ms-transform: rotate(-225deg);
            transform: rotate(-225deg);
    top: 0px;
  }
  header.active .open-nav-btn span::after {
    background: #4d8d6e;
    -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
            transform: rotate(225deg);
    top: 0px;
  }
  header.active .open-nav-wrap {
    opacity: 1;
    -webkit-transform: translateY(60px);
        -ms-transform: translateY(60px);
            transform: translateY(60px);
  }
  header.active .header-logo {
    opacity: 0;
  }
  .header-left-wrap nav {
    display: none;
  }
  .open-nav-btn {
    position: relative;
    height: 50px;
    width: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 701;
  }
  .open-nav-btn span,
  .open-nav-btn span::before,
  .open-nav-btn span::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 3px;
    left: 0;
    background: #393939;
    -webkit-transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  .open-nav-btn span {
    position: relative;
    display: block;
  }
  .open-nav-btn span::before {
    top: -8px;
  }
  .open-nav-btn span::after {
    top: 8px;
  }
  .open-nav-wrap {
    display: block;
    position: fixed;
    height: calc(100% - 60px);
    top: 0;
    left: 0;
    right: 0;
    padding: 4rem;
    background-color: #fff;
    opacity: 0;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: 700;
  }
  .open-nav-wrap nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .open-nav-wrap nav .page-anchor-btn {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 3.2rem;
    padding: 0 1rem 0.5rem;
    line-height: 3.2rem;
    position: relative;
    overflow: hidden;
  }
  .open-nav-wrap nav .page-anchor-btn::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    left: -100%;
    bottom: 0;
    background-color: #94baa8;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
  }
  .open-nav-wrap nav .page-anchor-btn:hover::after {
    left: 0%;
  }
  .header-logo strong {
    font-size: 1.3rem;
  }
  footer {
    background-color: #fff;
  }
  footer .section-grid {
    background-color: #cde3d8;
  }
  footer .contact-head strong {
    color: #f3f3f3;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }
  .point-title h3 {
    font-size: 2.2rem;
  }
  p.b-text {
    font-size: 1rem;
  }
  header {
    padding: 0 2rem;
    height: 60px;
  }
  .open-nav-btn {
    width: 24px;
  }
  .open-nav-btn span,
  .open-nav-btn span::before,
  .open-nav-btn span::after {
    height: 2px;
    width: 24px;
  }
  .open-nav-btn span::before {
    top: -7px;
  }
  .open-nav-btn span::after {
    top: 7px;
  }
  .open-nav-wrap {
    padding: 3rem;
  }
  .open-nav-wrap nav .page-anchor-btn {
    font-size: 2rem;
  }
  .header-logo strong {
    font-size: 1.2rem;
  }
  footer .section-grid {
    padding: 5rem 2rem;
    border-radius: 0 8rem 0 0;
  }
  footer .contact-head .point-title h1 {
    font-size: 2.8rem;
  }
  footer .contact-head strong {
    font-size: 1.6rem;
  }
  .modal {
    padding: 2rem;
  }
}
@media (max-width: 576px) {
  .point-title h3 {
    font-size: 2rem;
  }
  .point-title div {
    width: 0.35rem;
    height: 0.35rem;
    background-color: #4d8d6e;
  }
  .loading-circle {
    width: 3rem;
    height: 3rem;
  }
  header {
    padding: 0 1rem;
  }
  footer .section-grid {
    padding: 5rem 1rem;
  }
  footer .contact-head .point-title h1 {
    font-size: 2.4rem;
  }
  footer .contact-head .point-title div {
    width: 0.5rem;
    height: 0.5rem;
  }
  footer .contact-head strong {
    font-size: 1.4rem;
  }
  .modal {
    padding: 1rem;
  }
  .modal .modal-container::-webkit-scrollbar {
    width: 6px;
  }
}