h2 {
  font-size: 2.5rem;
  font-weight: 600;
}

.header-container span {
  font-size: 1.4rem;
}

main {
  min-height: 100svh;
  height: auto;
  padding: 10rem 4rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main-grid {
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main-img {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main-img img {
  max-width: 100%;
  max-height: 100%;
}
main .main-text {
  width: 52%;
}
main .main-text > h2 {
  padding: 0.5rem 0 2rem;
}
main .main-text > div {
  padding-bottom: 2rem;
}
main .main-text > div strong {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  display: block;
}
main .main-text > div p {
  padding-bottom: 1rem;
}
main .main-text > div .keyword {
  display: inline-block;
  padding: 0.1rem 1.4rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
main .main-text > p {
  padding-bottom: 1.2rem;
  line-height: 2rem;
}
main .main-text > p:last-child {
  padding-bottom: 0;
}
main.main-1 {
  background-color: #f3f3f3;
}
main.main-1 .keyword {
  border: 2px solid #bebebe;
  color: #bebebe;
}
main.main-2 {
  background-color: #b4dcfd;
}
main.main-2 .keyword {
  border: 2px solid #9599E2;
  color: #9599E2;
}
main.main-3 {
  background-color: #d9e6ba;
}
main.main-3 .keyword {
  border: 2px solid #72afd3;
  color: #72afd3;
}
main.main-4 {
  background-color: #fccfcf;
}
main.main-4 .keyword {
  border: 2px solid #fa709a;
  color: #fa709a;
}
main.main-5 {
  background-color: #eef1f5;
}
main.main-5 .keyword {
  border: 2px solid #c3cfe2;
  color: #c3cfe2;
}
main.main-6 {
  background-color: #cde3d8;
}
main.main-6 .keyword {
  border: 2px solid #94baa8;
  color: #94baa8;
}
main.main-7 {
  background-color: #cdddee;
}
main.main-7 .keyword {
  border: 2px solid #9890e3;
  color: #9890e3;
}

.content-detail {
  padding: 10rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content-detail .content-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1280px;
}
.content-detail .photo-gallery {
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.content-detail .photo-gallery a {
  width: 100%;
}
.content-detail .photo-gallery a img {
  width: 100%;
  display: block;
  border-radius: 1rem;
  -webkit-box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
}
.content-detail .photo-gallery figcaption {
  display: none;
}
.content-detail .pswp__caption__center {
  text-align: center;
}

#pmsSolution .content-detail .photo-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  width: 70%;
}
#pmsSolution .content-detail .pmsSolution-video {
  width: 30%;
  padding-left: 4rem;
}
#pmsSolution .content-detail .pmsSolution-video video {
  width: 100%;
  margin-bottom: 4rem;
}

.page-navigation {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #94baa8;
}
.page-navigation .section-grid {
  width: 100%;
  max-width: 1280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-navigation .section-grid > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.page-navigation .section-grid > div.prev-page:hover {
  -webkit-transform: translateX(-0.4rem);
      -ms-transform: translateX(-0.4rem);
          transform: translateX(-0.4rem);
}
.page-navigation .section-grid > div.next-page:hover {
  -webkit-transform: translateX(0.4rem);
      -ms-transform: translateX(0.4rem);
          transform: translateX(0.4rem);
}
.page-navigation .section-grid > div > * {
  pointer-events: none;
}
.page-navigation .section-grid > div p {
  color: #fff;
  padding: 0 0.4rem;
}
.page-navigation .section-grid > div span {
  color: #fff;
  font-size: 2rem;
}
.page-navigation .section-grid > div:not([data-url]) {
  visibility: hidden;
}
.page-navigation .section-grid > span {
  width: 2.5rem;
  height: 2.5rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f3f3f3;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-navigation .section-grid > span:hover {
  background-color: #4d8d6e;
}

footer {
  background-color: #fff;
}

@media (max-width: 1200px) {
  h2 {
    font-size: max(2rem, 3.2vw);
  }
  main {
    padding: 100px 4rem 10rem;
    display: block;
    height: auto !important;
  }
  main .main-grid {
    display: block;
  }
  main .main-img,
  main .main-text {
    width: 100%;
  }
  main .main-img {
    height: 50vh;
    margin-bottom: 2rem;
  }
  .content-detail .photo-gallery {
    gap: 3rem 2rem;
  }
  .content-detail .photo-gallery a img {
    border-radius: 0.5rem;
  }
  #pmsSolution .content-detail .photo-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 2rem;
  }
  #pmsSolution .content-detail .pmsSolution-video {
    padding-left: 2rem;
  }
  #pmsSolution .content-detail .pmsSolution-video video {
    margin-bottom: 3rem;
  }
}
@media (max-width: 992px) {
  main {
    padding: 100px 4rem 8rem;
  }
  .content-detail {
    padding: 8rem 4rem;
  }
  .page-navigation {
    padding: 3rem 4rem;
  }
  footer .section-grid {
    background-color: #fff;
  }
  footer .section-grid .contact-head strong {
    color: #94baa8;
  }
}
@media (max-width: 768px) {
  .header-container span {
    font-size: 1.2rem;
  }
  main {
    padding: 80px 2rem 6rem;
  }
  main .main-text > p {
    line-height: 1.8rem;
  }
  .content-detail {
    padding: 6rem 2rem;
  }
  #pmsWeb .content-detail .photo-gallery,
  #webCCTV .content-detail .photo-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  #pmsSolution .content-detail .photo-gallery {
    width: 60%;
    grid-template-columns: repeat(1, 1fr);
  }
  #pmsSolution .content-detail .pmsSolution-video {
    width: 40%;
  }
  .page-navigation {
    padding: 2rem;
  }
  .page-navigation .section-grid > div span {
    font-size: 1.8rem;
  }
  .page-navigation .section-grid > span {
    font-size: 1rem;
    width: 2.2rem;
    height: 2.2rem;
  }
}
@media (max-width: 576px) {
  h2 {
    font-size: 1.5rem;
  }
  main {
    padding: 80px 1rem 6rem;
  }
  main .main-img {
    height: 42vh;
    margin-bottom: 1rem;
  }
  .content-detail {
    padding: 6rem 1rem;
  }
  .content-detail .photo-gallery {
    gap: 2rem 1rem;
  }
  .content-detail .photo-gallery a img {
    border-radius: 0.3rem;
  }
  #pmsSolution .content-detail .photo-gallery {
    width: 60%;
    gap: 2rem 1rem;
  }
  #pmsSolution .content-detail .pmsSolution-video {
    width: 40%;
    padding-left: 1rem;
  }
  #pmsSolution .content-detail .pmsSolution-video video {
    margin-bottom: 2rem;
  }
  .page-navigation {
    padding: 2rem 1rem;
  }
  .page-navigation .section-grid > div span {
    font-size: 1.6rem;
  }
}