@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff") format("woff");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff") format("woff");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@media (min-width: 769px) {
  h1 {
    font-size: max(2.4rem, 2.4vw);
    line-height: max(3.4rem, 3.4vw);
  }
}
header {
  height: 100px;
  top: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main {
  height: 100dvh;
  padding: 10rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main-grid {
  max-width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main-img {
  width: 54%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .main-img img {
  max-width: 100%;
  max-height: 100%;
}
main .main-text {
  width: 44%;
}
main .main-text > * {
  padding-bottom: 2rem;
}
main .main-text > *:last-child {
  padding-bottom: 0;
}
main .main-text h6 {
  padding: 1rem 0 0.5rem;
}
main .main-text > div .keyword {
  display: inline-block;
  padding: 0.1rem 1.4rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
main .main-text > p {
  line-height: 1.8rem;
}
main.main-1 {
  background-color: #f3f3f3;
}
main.main-1 .keyword {
  border: 2px solid #bebebe;
  color: #bebebe;
}
main.main-2 {
  background-color: #b4dcfd;
}
main.main-2 .keyword {
  border: 2px solid #9599E2;
  color: #9599E2;
}
main.main-3 {
  background-color: #d9e6ba;
}
main.main-3 .keyword {
  border: 2px solid #72afd3;
  color: #72afd3;
}
main.main-4 {
  background-color: #fccfcf;
}
main.main-4 .keyword {
  border: 2px solid #fa709a;
  color: #fa709a;
}
main.main-5 {
  background-color: #eef1f5;
}
main.main-5 .keyword {
  border: 2px solid #c3cfe2;
  color: #c3cfe2;
}
main.main-6 {
  background-color: #cde3d8;
}
main.main-6 .keyword {
  border: 2px solid #94baa8;
  color: #94baa8;
}
main.main-7 {
  background-color: #cdddee;
}
main.main-7 .keyword {
  border: 2px solid #9890e3;
  color: #9890e3;
}

.content-detail {
  padding: 10rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content-detail .section-grid {
  max-width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.content-detail .section-grid > div {
  width: 30%;
}
.content-detail .section-grid > div img {
  width: 100%;
  -webkit-box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.content-detail .section-grid > div img:not(:last-child) {
  margin-bottom: 3rem;
}
.content-detail .section-grid > div video {
  width: 100%;
}
.content-detail .section-grid > div video:not(:last-child) {
  margin-bottom: 3rem;
}

.page-navigation {
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #94baa8;
}
.page-navigation .section-grid {
  width: 100%;
  max-width: 1180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-navigation .section-grid > div span {
  color: #fff;
  font-size: 2rem;
}

#pmsWeb .content-detail .section-grid > div,
#webCCTV .content-detail .section-grid > div {
  width: 48%;
}

#pmsSolution .content-detail .section-grid > :first-child,
#webRenewal .content-detail .section-grid > :first-child {
  width: 66%;
}

@media (max-width: 1200px) {
  main .main-text h1 {
    padding-bottom: 1rem;
  }
}
@media (max-width: 992px) {
  header {
    height: 75px;
  }
  main {
    padding: 6rem 4rem 8rem;
    display: block;
    height: auto !important;
  }
  main .main-grid {
    display: block;
  }
  main .main-img,
  main .main-text {
    width: 100%;
  }
  main .main-img {
    height: 50vh;
    margin-bottom: 2rem;
  }
  .content-detail {
    padding: 8rem 4rem;
  }
  .page-navigation {
    padding: 3rem 4rem;
  }
}
@media (max-width: 768px) {
  main {
    padding: 4rem 2rem 6rem;
  }
  main .main-text > * {
    padding-bottom: 1.4rem;
  }
  main .main-text h1 {
    padding-bottom: 0.4rem;
  }
  main .main-text > p {
    line-height: 1.6rem;
  }
  .content-detail {
    padding: 6rem 2rem;
  }
  .page-navigation {
    padding: 2rem;
  }
  .page-navigation .section-grid > div span {
    font-size: 1.8rem;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: max(1.6rem, 5vw);
    line-height: max(2.6rem, 7vw);
  }
  header {
    height: 50px;
  }
  main {
    padding: 4rem 1rem 6rem;
  }
  main .main-img {
    height: 44vh;
    margin-bottom: 1rem;
  }
  .content-detail {
    padding: 6rem 1rem;
  }
  .page-navigation {
    padding: 1.8rem 1rem;
  }
  .page-navigation .section-grid > div span {
    font-size: 1.6rem;
  }
}