
@font-face {
    font-family: 'Pretendard';
    src: url('../../assets/font/Pretendard-Regular.woff2') format('font-woff2'),
    url('../../assets/font/Pretendard-Regular.woff') format('font-woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/font/Montserrat-Regular.ttf') format('truetype');
    font-weight: 300;
}
