$kr : 'Pretendard';
$en : 'Montserrat';

$text-color : #393939;
$text-subColor : #747474;

$back-color : #f3f3f3;
$back-subColor : #bebebe;

$primery-1 : #4d8d6e; 
$primery-2 : #94baa8;
$primery-3 : #cde3d8;

$project-color : (
    #f3f3f3:#bebebe, 
    #b4dcfd:#9599E2, 
    #d9e6ba:#72afd3,
    #fccfcf:#fa709a,
    #eef1f5:#c3cfe2,
    #cde3d8:#94baa8, 
    #cdddee:#9890e3
);

$dashed : 1px dashed $text-subColor;
$max-width: 1280px;
$max-height: 1080px;

// 반응형 화면 크기
$mini: 576px;
$mobile: 768px;
$tablet: 992px;
$desktop: 1200px;



